.search-param-title {
  padding: 10px 0 10px 5px;
}

.search-param-input {
  border: none;
  width: 170px;
  height: 40px;
  padding-left: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.search-dropdown {
  display: none;
  position: absolute;
  padding: 4px;
  width: 170px;
  max-height: 250px;
  font-size: 14px;
  background: #edf1f5;
  overflow: scroll;
  overflow-x: hidden;
}

.search-dropdown > ul {
  list-style: none;
  cursor: pointer;
  padding-left: 10px;
}

.search-dropdown > ul > li {
  padding: 4px;
  text-align: left;
}

.search-param:hover .search-dropdown {
  display: block;
}

@media screen and (max-width: 1024px) {
  .search-dropdown {
    width: 122px;
  }

  .search-param-input {
    width: 125px;
  }
}
