.cardlist-outer-container {
  margin: 1rem 10rem;
  display: flex;
  flex-direction: column;
}

.cardlist-header {
  display: flex;
  justify-content: space-between;
}

.cardlist-title {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 2rem;
  flex: 1;
}

.cardlist-header a {
  text-align: right;
  text-decoration: none;
  margin: 0;
  padding: 1.5rem 2.1rem 0 0;
  flex: 1;
  cursor: pointer;
}

.cardlist-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
  .cardlist-outer-container {
    margin: 1rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .cardlist-title {
    padding-left: 1.3rem;
  }

  .cardlist-header a {
    padding: 1.5rem 1.1rem 0 0;
  }
}

@media screen and (max-width: 445px) {
  .cardlist-outer-container {
    margin: 1rem 0;
  }

  .cardlist-title {
    padding-left: 2rem;
  }

  .cardlist-header a {
    padding: 1.5rem 1.8rem 0 0;
  }
} ;
